<%provide(:title,"Help")%>
<h1>Help</h1>
<p>
To get help on the Ruby On Rail at the
<a href="http://www.railstutorial.org/#help"> Ruby On Rails Tutorials help section </a>
To help on the sample application at the
<a href="http://www.railstutorial.org/book"><em> Ruby On Rails Tutorials </em> </a>
book
</p>
